{% extends "base.html" %}
{% block main-drugs %}
  <h3>Add new {{ item_type }}</h3>
  <form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add {{ item_type }}"></p>
  </form>
  {% for item in items %}
    <div id="{{ item_type }}-{{ item.id }}">
      {{ item.name }}
      <a href="{% url 'medikit:edit_one' item_type item.id %}" class="btn btn-warning" role="button">Edit</a>
      <a href="{% url 'medikit:remove' item_type item.id %}" class="btn btn-danger" role="button">Remove</a>
    </div>
  {% endfor %}
{% endblock %}
