{% extends "base.html" %}
{% load static %}
{% block main-kits %}
  {% include 'medikit/kits-list.html' %}
{% endblock %}

{% block main-drugs %}
  <div class="tab-content" id="v-pills-tabContent">
    {% for kit in kits %}
      <div class="tab-pane fade show"
           id="v-pills-{{ kit.slug }}"
           role="tabpanel"
           aria-labelledby="v-pills-{{ kit.slug }}-tab">
        {% for drug in kit.drugs.all %}
          <h4>{{ drug.name }}</h4>
          <p>Description: {{ drug.description }}</p>
          {% if drug.expired %}
            <p>Expires: <span class="expired-label">EXPIRED</span> {{ drug.expiration_date }}</p>
          {% else %}
            <p>Expires: {{ drug.expiration_date }}</p>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}

<div id="footer">footer</div>

{% block js_scripts %}
  <script src="{% static "medikit/js/index.js" %}"></script>
{% endblock %}
