{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Medikit</title>
  <link rel="stylesheet" href="{% static 'medikit/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'medikit/index.css' %}">
</head>
<body>
{% for kit in kits %}
  <div class="panel-kit">
    <h2 class="panel-kit">{{ kit.name }}</h2>
  </div>
  <div class="drugs-list">
  {% for drug in kit.drugs.all %}
    <div class="drug-single">
    <h4>{{ drug.name }}</h4>
    <p>Description: {{ drug.description }}</p>
    {% if drug.expired %}
      <p>Expires: <span class="expired-label">EXPIRED</span> {{ drug.expiration_date }}</p>
    {% else %}
      <p>Expires: {{ drug.expiration_date }}</p>
    {% endif %}
    </div>
  {% endfor %}
  </div>
{% endfor %}

  <script src="{% static "medikit/jquery-3.4.1.min.js" %}"></script>
  <script src="{% static "medikit/bootstrap.min.js" %}"></script>

</body>
</html>
