{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Medikit</title>
  <link rel="stylesheet" href="{% static 'medikit/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'medikit/css/index.css' %}">
  <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
</head>
<body>
<div id="header-logo">
{#  <span class="fas fa-medkit"></span>#}
</div>
<div id="header-controls">
    <a href="{% url 'medikit:home' %}" class="btn btn-outline-primary" role="button">Home</a>
    <a href="{% url 'medikit:edit_kits' %}" class="btn btn-outline-secondary" role="button">Edit kits</a>
    <a href="{% url 'medikit:edit_medications' %}" class="btn btn-outline-secondary" role="button">Edit medications</a>
    {% if request.user.is_anonymous %}
      <a href="{% url 'medikit:login' %}" class="btn btn-outline-danger" role="button">Login</a>
    {% else %}
      <a href="{% url 'medikit:logout' %}" class="btn btn-outline-danger" role="button">Logout</a>
    {% endif %}
</div>

<div id="main">
  <div id="main-kits">
    {% block main-kits %}
    {% endblock %}
  </div>

  <div id="main-medications">
    {% block main-medications %}
    {% endblock %}
  </div>
</div>

<script src="{% static "medikit/js/jquery-3.4.1.min.js" %}"></script>
<script src="{% static "medikit/js/bootstrap.min.js" %}"></script>

{% block js_scripts %}
{% endblock %}

</body>
</html>


